body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 20px;
}

h1 {
    color: darkgreen;
}

form input[type="submit"] {
    background: #006400;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}
form input[type="submit"]:hover {
    background: #228B22;
}
